ErrorDocument 403 http://%{HTTP_HOST}/
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]
RewriteRule ^/?\.gitignore$ - [F,L]
RewriteRule ^/?composer.*$ - [F,L]
RewriteRule ^/?main/.*$ - [F,L]
RewriteRule ^/?cache/.*$ - [F,L]
Options -Indexes
